{% extends 'base.html' %}


{% block title %}
    Register
{% endblock %}

{% block welcome %}
    <h3>Lecturer Registration</h3>
    <hr>
{% endblock %}


{% block content %}
    <div class="form-group">
        <form action="{% url 'accounts:register' %}" method="post">
        <div class="form-group">
            {% csrf_token %}
            <table class="table table-stripped">
                {{ form.as_table }}
            </table>
            <p><input type="submit" value="Submit"></p>
        </div>


    </form>
    </div>

{% endblock %}